body{
    margin: 100px;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 105.26%;
    
    
    text-align: justify;
    
    color: #000000;   
}

h3{
    color:#4C4A9D;
}

 
    
/* header */
.containerHeader{
   display:flex;
   padding:0px;
   align-items: stretch;
   justify-content: space-around;
}

.fotoPikachu{
align-items: flex-start;
margin: 50px;
  
}

.textoHeader{
    margin-top:25px;
    

}
h2{
    color: #467BB1;
}
.nietoHeader{
    font-size: small;
    margin-right:50px;
}

/* Div */
.container1{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    }

    .Experience{
        margin-left: 30px;
        flex: 50px;
        padding: 20px;
        font-size: small;
        
    }
    
    .lineaLateral1{
       
        border-left: 5px solid #76ECE7;
      
    }
    
    .ulExperience{
        list-style-type:none;
        padding: 0;
        margin: 10px;

    }
    
        

    .Education{
    flex: 20px;
    padding: 20px;
    justify-content: flex-end;
    align-items:row;
    font-size: small;
    }

    .ulEducation{
        list-style-type:none;
        padding: 0;
        margin: 10px;
    }

    .container2{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        }  
    

    .contenidointerior{
        display:flex;
        font-size: small;
    }

    .listado1{
      
        margin-left: 40px;
        list-style-type:square;
        
    }

    .listado2{
        margin-left: 20px;
        list-style-type: square;
    }


    .tituloabuelo{
        display:flex;
        align-items: flex-start; 
        justify-content: end;                                                                                                                              
    }

    .Program{
        flex: 10px;
        justify-content: flex-end;
        align-items:row;
        margin-left: 30px;
    }


.Favourites{
  
    margin-left: 200px; 
    flex: 20px;
    padding: 20px;
    align-items:flex-end;
    justify-content: flex-end;    
}
.row1{
    font-size: small;
    display: flex;
    
}

.row2{
    font-size: small;
    display: flex;
}

.favourites1{
margin-right: 40px;
}
.favourites3{
    margin-right: 40px;
}
/*footer*/


.flex-container{
    font-size: small;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    
}

.minicontainer{
    flex-direction:row-reverse;
    text-align:center;
    
}